
@{
    Layout = "_Layout";
}

<h2 class="heading">Home<span style="float:right"><img style='border-radius:50%;border:1px solid #1DA1F2' src='~/images/top_tweet.png' /></span></h2>
<br />
<div class="create-tweet">
    <div class='block-1'>
        <img src="~/images/profile.jpg" /><span>What's happening?</span>
    </div>
    <div class='block-2'>
        <ul>
            <li><img src="~/images/image-regular.svg" /></li>
            <li><img src="~/images/gif.svg" /></li>
            <li><img src="~/images/poll.svg" /></li>
            <li><img src="~/images/smile-regular.svg" /></li>
            <li><img src="~/images/event.svg" /></li>
            <li><button class="post-tweet-btn">Tweet</button></li>

        </ul>
    </div>
    <!-- <div class='block-3'>
        <button class="post-tweet-btn">Tweet</button>
      </div> -->
</div>
<div class="post-card">
    <div class='card-block-1'>
        <img src="~/images/hackernoon.jpeg" class="profile-icon" />
        <p class="profile-name">
            HackerNoon <span class="profile-username">hackernoon</span><span class='post-info'>&nbsp;"Why Chess is Better than Video Games"</span> <span class='post-url'>https://hackernoon.com/why-chess-is-better-than-video-games-7t4734vl</span><br /> <span class='hastag'>#braindevelopment #pubg</span>
        </p>
        <div class="actions">
            <a href=""><img src="~/images_profile/chat.svg" alt="Comments"> 15</a>
            <a href=""><img src="~/images_profile/refresh.svg" alt="Retweet"> 7</a>
            <a href=""><img src="~/images_profile/heart.svg" alt="Likes"> 6</a>
        </div>
    </div>
    <div class="card-block-2">
        <img src='~/images/post_thumbnail.png' class='post-thumbnail' />
    </div>
</div>
<div class="post-card">
    <div class='card-block-1'>
        <img src="~/images/hackernoon.jpeg" class="profile-icon" />
        <p class="profile-name">
            HackerNoon <span class="profile-username">hackernoon</span><span class='post-info'>&nbsp;"Why Chess is Better than Video Games"</span> <span class='post-url'>https://hackernoon.com/why-chess-is-better-than-video-games-7t4734vl</span><br /> <span class='hastag'>#braindevelopment #pubg</span>
        </p>
    </div>
    <div class="card-block-2">
        <img src='~/images/post_thumbnail.png' class='post-thumbnail' />
    </div>
</div>

<div class="post-card">
    <div class='card-block-1'>
        <img src="~/images/hackernoon.jpeg" class="profile-icon" />
        <p class="profile-name">
            HackerNoon <span class="profile-username">hackernoon</span><span class='post-info'>&nbsp;"Why Chess is Better than Video Games"</span> <span class='post-url'>https://hackernoon.com/why-chess-is-better-than-video-games-7t4734vl</span><br /> <span class='hastag'>#braindevelopment #pubg</span>
        </p>
    </div>
    <div class="card-block-2">
        <img src='~/images/post_thumbnail.png' class='post-thumbnail' />
    </div>
</div>
